# Python
venv/
.venv/
env/
__pycache__/
*.pyc

# Backend
backend/venv/
backend/__pycache__/

# Node
node_modules/

# React build
build/

# Environment variables
.env
.env.local

# VS Code
.vscode/

# Logs
*.log

# Database
*.db
*.sqlite3

venv/
backend/venv/
frontend/node_modules/
__pycache__/
*.pyc
.env